html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
}

main {
  animation: 0.8s fadeIn;
}

.login_main {
  height: 100%;
  display: flex;
}

.login_container {
  margin: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.login_form {
  margin: 60px 35px;
  text-align: center;
}

.login_title,
.login_porofile,
.login_button {
  margin-bottom: 25px;
}

.login_title {
  font-family: 'Metal Mania', cursive;
  font-size: 30px;
  color: var(--color-light-black);
}

.login_title h1 {
  margin: 0;
}
.login_porofile img {
  width: 100px;
  height: 100px;
  border: none;
  color: var(--color--);
}

.login_button {
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-light-blue);
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.login_button a:visited,
.login_button a:link {
  color: var(--color-white);
  text-decoration: none;
}

.login_button:hover {
  background: #79c6f7;
}

.login_confirm {
  color: var(--color-light-black);
}

.login_confirm_change {
  color: var(--color-light-blue);
  font-weight: 600;
}
