:root{
    /* color */
    --color-black:#000000;
    --color-light-black:#262626;
    --color-gray:#8e8e8e;
    --color-light-gray:#c9c3c3;
    --color-light-blue:#0095f6;
    --color-ligth-red:#ca105d;
    --color-dark-pink:#ca105d;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;   
}

img {
    border-radius: 50%;
    border: 2px solid var(--color-dark-pink);
    cursor: pointer;
    user-select: none;
}

/* Navbar */

#navbar {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-light-gray);
    font-size: 1.3em;
}

.navbar_container_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    height: 56px;
}

.navbar_logo {
    font-family: 'Metal Mania', cursive;
    cursor: pointer;
    user-select: none;
}

.navbar_search_input{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 3px 6px;
}

.navbar_search_input::placeholder{
    text-align: center;
}

.navbar_menu_list {
    display: flex;
    list-style: none;    
}

.navbar_menu_list li {
    padding-left: 16px;
}

/* Feed Main */
.feed_img{
    border-radius: 0;
    border-style: none;
}

