:root{
    /* color */
    --color-black:#000000;
    --color-light-black:#262626;
    --color-gray:#8e8e8e;
    --color-light-gray:#c9c3c3;
    --color-white-gray:#fafafa;
    --color-light-blue:#0095f6;
    --color-ligth-red:#ca105d;
    --color-dark-pink:#ca105d;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 56px;
    margin: 0; 
    background-color: var(--color-white-gray);  
}

img {
    border-radius: 50%;
    border: 2px solid var(--color-dark-pink);
    cursor: pointer;
    user-select: none;
}

/* Navbar */

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-light-gray);
    font-size: 1.3em;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_container_2 {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;        
    height: 56px;
}

.navbar_logo {
    font-family: 'Metal Mania', cursive;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}

.navbar_search_input{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    height: 25px;
    line-height: 25px;
    padding: 3px 6px;
}

.navbar_search_input::placeholder{
    text-align: center;
}

.navbar_menu_list {
    display: flex;
    list-style: none;    
}

.navbar_menu_list li {
    padding-left: 16px;
}

/* Feed Main */
#main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_content {    
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
}

.main_left_menu {
    margin-right: 28px;
}

.feed_img{
    border-radius: 0;
    border-style: none;
    width: 614px;
    height: 614px;
}

/* Story */
.main_story {
    margin-bottom: 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray);
    padding: 10px;
}

.main_story_list {    
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    
}

.main_story_img_list {
    text-align: center;    
}

.story_profile_name {
    font-size: 12px;
    color: var(--color-light-black);
}


